*{margin: 0; padding: 0; box-sizing: border-box;
font-family: 'Poppins', sans-serif;}

stext-decoration: none; color: #fff;}
stext-decoration: none; color: #fff;}
li{list-style:none;}
a:hover{text-decoration: none;}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
a{
    color: black!important;
    text-decoration: none!impprtant;
}
.w3-bar .w3-bar-item:hover{
    background: none!important;
    text-decoration: none;
    color: #05a842!important;
}
button.w3-button:hover{
    background-color: #fff!important;
    color: #05a842!important;
}
.w3-black, .w3-hover-black:hover{
    background-color: white!important;
    z-index: 100!important;
}
.navbar{
    color: aliceblue;
    
}
.heder{
    width: 100%;
/*    background: red;*/
}

nav.navbar.navbar-expand-lg.fixed-top.bg-light{
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.w3-white,{
    opacity: none!important;
    color: #fff!important;
    background-color: white!important;
    z-index: 1000;
}
.nav-link{
    font-size: 13px!important;
}
.navbar-nav{
    width: 45%;
    display: flex;
    padding-right: 5px;
    justify-content: space-between;
}
.text-heder {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 56%;
    left: 338px;
    width: 40%;
    height: 37%;
    background: #fff;
    z-index: 1;
}
.colum{
    width: 100%;
    height: 80%;
    padding-right: 30px!important;
    padding-left: 30px!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
   margin-top: 20px;
}
.container, .container-lg, .container-md, .container-sm {
    max-width: 100%!important;
}

a:hover{
    color: #00ca4c!important;
}
/*///////heder end//////./*/


/*////////body section start///////*/
.heder-section{
     width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.column{
     display: flex;
    flex-direction: column;
}
.center-div{
   width: 70%;
    height: 100%;
    margin: auto;
   
    
}
.row{
    width: 100%;
    height: 100%;
    
}
.left-div{
    width: 10%;
    height: 100%;
   display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.front-page-socials{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-div .front-page-socials li{
  width: 100%;
    height: 10%;
   margin-bottom: 30px;
}
.left-div .front-page-socials li{
    list-style: none;
}
.left-div .front-page-socials li a{
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-div .front-page-socials li a i{
    color: black;
    display:flex;
}
.left-div .front-page-socials li a i:hover{
    color:#00ca4c;
}

/*////////?*/
.right-div{
    width: 90%;
    height: 100%;
/*    background-color: aliceblue;*/
    z-index: 100%;
}
.right-div::before {
  opacity: 0.5;
    position: absolute;
    top: 30%;
    right: 50%;
    width: 30%;
    height:90%;
  content: "";
  background-color: #edf6fc;
}
.left-div .front-page-socials li a {
    font-size: 30px;
}
.text-heder{
      padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    width: 40%;
    height: 30%;
    background: #fff;
    z-index: 1;
}
.text-heder h2{
    font-size: 30px;
    font-weight: 700;
}
.images{
    position: relative;
    max-width: 842px;
    height: 100%;
    margin: 0;
    margin-left: 20%;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: initial;
    
}

.foter{
    margin-top: 30px!important;
    margin: auto;
    width: 60%;
    height: 15%;
/*    position: inherit;*/
    z-index: 100;
    position: absolute;
    left: 20%;
    right: auto;
    top: auto;
    bottom: auto;
/*    background-color: antiquewhite;*/
   
}
.foter form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
     display: flex;
    justify-content: space-around;
/*    background-color: aliceblue;*/
}
.foter form label{
    margin: 0;
    padding: 0;
    text-align:start;
}
.foter form p{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.forom{
/*    width: 100%;*/
    display: flex;
    justify-content: space-between;
    min-width: 277px;
}
.foter .input{
    background-image: url(https://themes.getmotopress.com/ciestra/wp-content/themes/ciestra/images/calendar_passive.svg);
    background-repeat: no-repeat;
    background-position: right .5em top 1em;
    padding: 5px;
    height: 43px;
    width: 200px;
    border: 1px solid #464343;
    display: flex;
    justify-content: space-between;
}
.input-c{
    width: 100px;
    height: 43px;

}
.button{
    width: 150px;
    height: 43px;
    border: none;
 background: #00ca4c; 
    color: aliceblue;
}
select {
    border: 1px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(https://themes.getmotopress.com/ciestra/wp-content/themes/ciestra/images/arrow_passive.svg);
    background-repeat: no-repeat;
    background-position: right 0.5rem top 1.25rem;
    background-color: #fff;
    height: 50px;
}
.forom select {
    display: block;
    color: #37383c;
    border: 1px solid #ddd;
    max-width: 458px;
    width: 100%;
    padding: .625rem 1.25rem;
    border-radius: 0;
}

/*/////////*/
.extra-heder{
    margin-top: 200px;
    width: 100%;
    height: 100%=;
}

.extra-div{
    height: 80%!important;
    width: 100%!important;
    background: #fff;
}
.extra-div p{
    line-height: 27px;
    font-size: 18px;
    text-align: start;
    padding: 20px 0;
    font-weight: 400;
}


.image-div img{
    width: 8%;
    height: 17%;
    padding: 5px;
    
}
.detale{
    width: 140PX;
    height: 40px;
    background-color: #00ca4c;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detale:hover{
    background: #00ad41;
    color: #fff;
    text-decoration: none;
}
.detale a{
   color: #fff!important;}
.detale a:hover{
    background-color:#00ad41!important; 
    list-style: none!important;
    text-decoration: none!important;
    color: #fff!important;
}
.extra-div2{
    height: 100%;
  background: #fff;
    
}

.extra-div2 .image{
    width: 100%;
    height: 90%;
      
}
.extra-div2 .image img{
  box-shadow: 40px 40px 0px 0px #edf6fc;
}
/*//////////////////////////////////////heder section end////////////////////////////////*/
.OUR-ROOMS{
    width: 100%;
    height:auto;
    background-color: #edf6fc;
    padding-top: 20px!important;
}
.center-div.pra {
    padding-top: 70px;
}

.OUR-ROOMS .center-div{
/*    background-color: aliceblue;*/
    
}

.OUR-ROOMS h2{
    font-weight: 700;
}
.OUR-ROOMS .image1{
    width: 100px;
    height: 7%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.OUR-ROOMS .image1 img{
    width: 30%;
    height: 30%;
}
.carousel-indicators li{
    border-radius: 100%!important;
/*    background-color: aqua!important;*/
/*    background-color: red;*/
}

.carousel-item img{
  box-shadow: 40px 40px 0px 0px red;

}
.extra-div3{
    width: 300px;
    height: 200px;
}
.master, .master-div {
    display: flex;
    flex-direction: row;
    width: 1100px;
    height:500px;
    margin-top: 100px;
    background: #ffffff;
}

.carousel{
    width: 460px;
    height: 460px;
    margin-top: -60px;
    margin-left: 40px;
/*     box-shadow: 50px 90px  #edf6fc;*/

}
.extra-div4{
    width: 300px;
    height: 400px;
    padding: 80px;
    display: flexf;
    justify-content: center;
    align-items: center;
/*    background-color: red;*/
}

{
    position: absolute;
    width: 480px;
    height: 400px;
    left: 20%;
    bottom: 20%;
    top: 305%;
}
.extra-div4.col-lg-6.col-md-2.col-12 {
    padding-left: 70px;
}
b{
    font-size: 0px;
    margin-left: 7px;
    margin-right: 10px;
    letter-spacing: 3px;
}
.sceund-section{
    margin-top: 20px;
    width: 100%;
    height: 630px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.after{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 20%;
    background-color: #e2dbdb;
}
.master{
    min-width:950px;
   max-width: 1400px;
    height: 500px;
    margin: auto;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
    background-color: #fff;
}
/*///////////////////////////////extra div start///////////////////////////////////////*/
.left-li{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px!important;
    left: 597px!important;
    right: 0px!important;
    color: red;
    width: 400px;
    height: 30px;
/*    background-color: #82d485;*/
}
.left-li li{
    
   background-color: red!important; 
    height: 10px!important;
     width: 10px!important;
    background-color: #0ed845!important;
    border-radius: 100%!important;
/*    border: 20px solid green!important;*/
    margin-left: 50px!important;
}

.pure{
    position: absolute!important;
    width: 30px!important;
    height: 30px!important;
background-color: aquamarine!important;
    top: 0px!important;
    left: 1097px!important;
    right: 1000px!important;
    bottom: 0px;
}
.pure{
     position: absolute!important;
    width: 30px!important;
    height: 30px!important;
background-color: aquamarine!important;
    top: 0px!important;
    left: 647px!important;
    right: 1097px!important;
    bottom: 300px!important;
}
/*///////////////////////////////extra div end///////////////////////////////////////*/


/*///////////////////////////////Recent-News start///////////////////////////////////////*/

.Recent-News{
     margin-top: 20px;
    width: 100%;
    height: 630px;
    height: auto;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #edf6fc;;
    margin-bottom: 10px;
}
.master-div{
    width: 1000px!important;
    height:400px!important;
}
.headeng-div,h2 {
    font-weight: bold!important;
    font-size: 50px;
    margin-top: 15%;
    width: 100%;
    height: auto;
/*    background-color: teal;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headeng-div img{
    margin-top: 10px!important;
    width: 5%;
    height:5%;
    margin: auto;
}
.extra-div3  .image img{
    width: 90%;
    height: 280px;
    margin-top: -10%;
    margin-left: 15px;
}
.after-div{
     position: absolute;
    width: 393px;
    height: 250px;
    left: 23%;
    right: 90%;
    background-color: #e2dbdb;
    margin-top: 10px;
}


.after-div:hover{
    transition: 0.5s;
     position: absolute;
    width: 391px;
    height: 245px;
    left: 22%;
    background-color: #e2dbdb;
}
.Recent-News .extra-div4.col-lg-6.col-md-2.col-12{
    padding: 0px!important;
    padding-left: 10px!important;
    padding-top: 40px!important;
}
/*
.extra-div4 p,h2,a{
    list-style: none;
    text-decoration: none;
    color: black!important;
    padding-left: 20px!important;
}
*/
.Recent-News .extra-div4.col-lg-6.col-md-2.col-12{
   padding-left: 40px!important;
}
.ankar{
    text-decoration: none!important;
}


.extra-div4 li ,a{
    list-style: none;
     display: inline-block;
    letter-spacing:1px;
    font-weight: 700;
 color: #00ca4c!mportant;

}
.extra-div4 li a:link,
.extra-div4 li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition:  border-bottom 0.2s;
 border-bottom: 2px solid #00ca4c;

}

/*///////////////////////////////Recent-News end///////////////////////////////////////*/

/*///////////////////////////////Testimonials start///////////////////////////////////////*/

.Testimonials{
    margin-top: 20px;
    width: 100%;
    height: 630px;
    height: auto;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #edf6fc;;
    margin-bottom: 10px;

}
.Testimonials .headeng-div{
    margin-top: 80px!important;
}
.box{
    text-align: center;
    height: 270px;
/*    border: 1px solid rgba(0,0,0,0.2)*/
}

.carousel-indicators{
    position: absolute;
    right:0;
    bottom: -60px!important;
}
.carousel-indicators li{
    background-color: #16c9f6!important;
}
.box a{
    position: relative;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
/*
.box a:after{
    content: "\f10d";
    font-family:FontAwesome;
    width: 40px;
    height: 40px;
    background-color: #46e5f2;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 120%;
    left: 70%;
    border-radius: 50%;
    display: flex;
    text-justify: center;
    align-items: center;
}
*/
.box h1{
    font-size: 18px;
    font-size: 700;
    color: #000;
    margin-bottom: 10px;
}
.box h2{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
}
.Testimonials .container ecnter-div{
    display: flex;
    flex-direction: column!important;
}
.Testimonials .carousel{
  margin: auto!important;
    width: 1170px!important;
    height: 300px!important;
    margin-top: 20px!important;
    border: none!important;
}
.Testimonials .carousel-inner container{
    width: 1000px!important;
}
.Testimonials .carousel-item {
    width: 1100px!important;
/*    background-color: red;*/
/*    border: none!important;*/
}
/*
.box::before{
    content:"";
    width: 300px!important;
    height: 400px!important;
    background-color: red;
}
*/
.content-entre{
    background-color: #ffffff;
    position: relative;
    text-align: center;
    justify-content: flex-start;
    width: 90%!important;
    height: 200px!important;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
/*    background-color: aquamarine;*/
    z-index: 100;
    text-align: left;
    padding-top: 40px;
    border: 4px solid gray;

}
.before{
/*    content: "";*/
    width: 470px;
    height: 240px;
    background-color: #e2dbdb;
    position: absolute;
    top:10%; 
    left: 10%;
   display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    
}
.Testimonials .carousel-control-prev{
    left: 28%!important;
    width: 40px!important;
    background-color: red!important;
}
.Testimonials .carousel-control-next{
    left: 65%!important;
    background-color: red!important;
        width: 40px!important;

}

.w3-bar {
    height: 68px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.extra{
    width: 91%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.w3-card, .w3-card-2{
    box-shadow: none!important;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.w3-bar .w3-button {
    white-space: normal;
    font-size: 14px;
    font-weight: 100;
    z-index: 1000!important;
}
.w3-top, .w3-bottom{
    z-index: 1000!important;
}

/*.//////////////////////////////////foter/////////////////////*/

.foter-div5{
    margin-top: 200px!important;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    position: relative;
}
.foter-div5 .top-div{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    margin: 0px!important;
    margin-bottom: 30px!important;
}
.top-div .left-div{
    width: 50%;
    height: 100%;
}
.top-div .left-div h2{
   width: 57%; 
    display: flex;
   text-align: left;
    line-height: 20px;
}
.top-div .left-div p{
   margin-left: 5px;
    line-height: 10px;
}
.top-div .right-div1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:30px;
}
.FOLLOW-US{
    float: right;
    width: 130px;
    height: 50px;
    background-color: #00ca4c;
   display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff!important;
    
}
.FOLLOW-US:hover{
    color: #ffffff!important;
    background: #05a842;
    text-decoration: none!important;
}
.foter-div5 .foter-bottom{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foter-bottom img{
    width: 16.50%;
}
/*//////////////////////////////////////fter start///////////////////////////////*/
.footerBlock {
display: flex;
justify-content: center;
border-top: 1px solid #ddd;
padding: 5rem 0 3.75rem;
height: auto;
width: 100%;
    
}
.mainFooter{
display: flex;
width: 91%;
height: 400px;
justify-content: center;
align-items: center;
}
.divWrapper{
width:100%;
height: 70%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.footerLogo, .socialMediaIcons, .menuItems, .copyRight{
display: flex;
width: 100%;
justify-content: center;
color: #;
}
.socialMedia{
display: flex;
width: 50%;
justify-content: center;

}
.socialMediaIcons{
list-style: none;
justify-content: space-evenly;
font-size: 20px;
width: 60%;
padding: 0%;
margin: 0px 0px 0px 0px;
}
.socialMediaIcons i:hover{
color: #00a43e;
}
.ul {
list-style: none;
}
.fa-facebook-f,.fa-instagram, .fa-youtube, .fa-foursquare, .fa-tripadvisor{
color: #4f4f4f;
}
.menuItemsList li{
margin-left: 25px;
}
a{
text-decoration: none;
list-style: none;
color: #00a43e;
}
a:hover{
text-decoration: underline;
}
.menuItemsList{
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none !important;
font-family: "Roboto",sans-serif;
font-size: 14px;
}
.copyRight{
font-family: "Roboto",sans-serif;
line-height: 1.75;
font-size: 12px;
color: #7e7e7e;
}
.foter-div3{
    width: 100%;
    height: auto;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.foter-mainDive{
    width: 100%;
    height: 400px;
    background-color: red;
    position: relative;
    float: bottom;
}
/*//////*/
.footerBlock {
display: flex;
justify-content: center;
border-top: 1px solid #ddd;
padding: 5rem 0 3.75rem;
}
.mainFooter{
display: flex;
width: 91%;
height: 400px;
justify-content: center;
align-items: center;
}
.divWrapper{
width:100%;
height: 70%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.footerLogo, .socialMediaIcons, .menuItems, .copyRight{
display: flex;
width: 100%;
justify-content: center;
color: #;
}
.socialMedia{
display: flex;
width: 50%;
justify-content: center;

}
.socialMediaIcons{
list-style: none;
justify-content: space-evenly;
font-size: 20px;
width: 60%;
padding: 0%;
margin: 0px 0px 0px 0px;
}
.socialMediaIcons i:hover{
color: #00a43e;
}
.ul {
list-style: none;
}
.fa-facebook-f,.fa-instagram, .fa-youtube, .fa-foursquare, .fa-tripadvisor{
color: #4f4f4f;
}
.menuItemsList li{
margin-left: 25px;
}
a{
text-decoration: none;
list-style: none;
color: #00a43e;
}
a:hover{
text-decoration: underline;
}
.menuItemsList{
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none !important;
font-family: "Roboto",sans-serif;
font-size: 14px;
}
.copyRight{
font-family: "Roboto",sans-serif;
line-height: 1.75;
font-size: 12px;
color: #7e7e7e;
}
.w3-bar-block .w3-bar-item{
    margin-top: 10px;
    border-left: 2px solid #fff!important;
}
.w3-bar-block .w3-bar-item:hover{
    border-left: 2px solid #00a43e!important;
}
