.colum{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
a:hover{
    background-color: none!important;
}
i:hover{
    color: black
    background-color: black!important;
}
.map-content{
    width: 700px;
    height: auto;
/*    background-color: teal;*/
}
.map-img{
    width: 100%;
    height: 440px;
}

.content-map{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
}
.content-map p{
    font-weight: 500;
    font-size: 16px;
}
.content-map i{
    font-size: 18px;
    margin-top: 10px!important;
}
span{
    color: #00ca4c;
    padding-left: 20px;
}
.content-map h1{
    margin-top: 30px;
    font-weight: 700!important;
}
.input-forom{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
label{
  padding-top: 10px!important;
}
.input-forom span{
    padding: 0px!important;
}
.input-forom input{
    width: 60%;
    height: 45px;
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 10px;
    outline: none;
    padding-left: 10px;
}
input:focus{
    border: 1px solid #00ca4c;
}
.big-input{
    height: 300px!important;
    padding: 0px!important;
}
.send{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ca4c;
    margin-bottom: 30px;
    color: white!important;
}

.send:hover{
    background-color: #0ab64c;
    text-decoration: none!important;
    color: white!important;
}
/*////////////////////////*/

.footerBlock {
display: flex;
justify-content: center;
border-top: 1px solid #ddd;
padding: 5rem 0 3.75rem;
}
.mainFooter{
display: flex;
width: 91%;
height: 400px;
justify-content: center;
align-items: center;
}
.divWrapper{
width:100%;
height: 70%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.footerLogo, .socialMediaIcons, .menuItems, .copyRight{
display: flex;
width: 100%;
justify-content: center;
color: #;
}
.socialMedia{
display: flex;
width: 50%;
justify-content: center;

}
.socialMediaIcons{
list-style: none;
justify-content: space-evenly;
font-size: 20px;
width: 60%;
padding: 0%;
margin: 0px 0px 0px 0px;
}
.socialMediaIcons i:hover{
color: #00a43e;
}
.ul {
list-style: none;
}
.fa-facebook-f,.fa-instagram, .fa-youtube, .fa-foursquare, .fa-tripadvisor{
color: #4f4f4f;
}
.menuItemsList li{
margin-left: 25px;
}
a{
text-decoration: none;
list-style: none;
color: #00a43e;
}
a:hover{
text-decoration: underline;
}
.menuItemsList{
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none !important;
font-family: "Roboto",sans-serif;
font-size: 14px;
}
.copyRight{
font-family: "Roboto",sans-serif;
line-height: 1.75;
font-size: 12px;
color: #7e7e7e;
}
.footerLogo img{
    width: 50%;
    height: 25%;
}














